
@font-face {
  font-family: 'Arial-Rounded';
  font-style: normal;
  src: url(../fonts/VarelaRound-Regular.ttf);
}

/* Classic elements */
html {
    font-size: 62.5%;
    min-width: 1000px;
    background: #E6E6E6;
}

p {
    margin: 0;
    cursor: default;
}

span {
    cursor: default;
}

.nav-bar {
     max-width: none;
     width: 100%;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     z-index: 1;
     padding: 0px;
    background: #FFF;
}

.logo {
     background-color: #3DCD58;
     height: 6.4rem;
     max-width: 5.6rem;
     min-width: 5.6rem;
     padding-top: 0.8rem;
     padding-bottom: 0.8rem;
     text-align: center;
}

.title {
     height: 4.4rem;
     max-width: 38.0rem;
     min-width: 38.0rem;
     line-height: 6.4rem;
     text-align: left;
     margin-left: 3.0rem;
     color: #3DCD58;
     font-size: 2.4rem;
     font-family: Arial-Rounded;
}

.dashboard {
     width: 30.6666666667%;
     height: 4.4rem;
     text-align: left;
     margin-left: 2%;
     font-size: 2.4rem;
     display: inline;
}

.separation {
     min-width: 3.2rem;
     margin-left: 0;
     width: 13.3333333333%;
}

#refresh_data {
    margin: 0.8rem;
    height: 4.8rem;
    max-width: 25.0rem;
    min-width: 25.0rem;
    background-color: #E6E6E6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: Arial;
}

#refresh-image {
    width:2.0rem;
    height:2.0rem;
    margin-left:1.2rem;
    margin-top:1.6rem;
    display:inline-block;
    cursor: pointer;
}

.div-inline {
    display:inline-block;
    margin-left: 1.2rem;
}

.menu-bar {
     max-width: none;
     width: 100%;
     background-color: #3DCD58;
     box-shadow: 0 0 12px rgba(0,0,0,0.5);
     z-index: 0;
}

.menu {
     height: 4.0rem;
     padding-top: 0.8rem;
     padding-bottom: 0.8rem;
     margin-left: 1.0rem;
     min-width: 15.0rem;
     max-width: 15.0rem;
}

#menu_zigbee {
  margin-left: 3.0rem;
  color: #FFFFFF;
  cursor: pointer;
}

.selected {
  display: inline-block;
  font-weight: bold;
  position: relative;
}

.selected::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 0.8rem;
}

.main-view {
      max-width: 2000px;
      margin-top: 5.0rem;
}

.box {
    background: #F7F7F7;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 0;
    overflow: hidden;
    margin-bottom: 2.0rem;
    padding-bottom: 2.0rem;
}

#detail-product {
  min-width: 65.0rem;
  max-width: 200.0rem;
}

#title_error{
    color: #DC0A0A;
    font-size: 3.2rem;
    text-align: center;
    padding-top: 5.0rem;
}

#title_tree {
    text-align: center;
    color: #009530;
    font-size: 1.3em;
    background: #F7F7F7;
    border-radius: 6px 6px 0px 0px;
    padding: 1.0rem;
    border-bottom: 2px dotted;
}

#title_device {
    text-align: left;
    color: #009530;
    font-size: 1.3em;
    background: #F7F7F7;
    border-radius: 6px 6px 0px 0px;
    padding: 1.0rem;
    padding-left: 3.0rem;
}

#jstree_demo_div {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

.div_multiple_button{
    display: inline-block;
    float: right;
}

.button-command{
  background-color: #3DCD58 !important;
  border-color: #3DCD58 !important;
  float: right;
  margin-right: 1.5rem;
  margin-top: 2.0rem;
  margin-bottom: 0rem;
}

input[type="submit"]:active{
  color: #555 !important;
  border-color: #bbb !important;
  background-color: transparent !important;
  float: right;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 2.0rem;
  margin-bottom: 0rem;
}

.button-command:active {
  float: right;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 2.0rem;
  margin-bottom: 0rem;
}

.margin_top_2{
  margin-top: 2.0rem;
}

.margin_top_1{
  margin-top: 1.0rem;
}

#title_data {
  text-align: left;
  font-size: 1.0em;
  padding-left: 3.0rem;
}

#title_detail {
  text-align: right;
  font-size: 1.0em;
  padding-right: 3.0rem;
}

.text-green{
  color:#3DCD58;
  font-weight: bold;
}

.grid {
  display: grid;
}

.row_1 {
  grid-row: 1;
}

.row_2 {
  grid-row: 2;
}

.row_3 {
  grid-row: 3;
}

.row_4 {
  grid-row: 4;
}

.column_1 {
  grid-column: 1;
}

.column_2 {
  grid-column: 2;
}

.column_3 {
  grid-column: 3;
}


/* Bigger than 550 */
@media (max-width: 550px) {

.separation {
    width: 13.3333333333%;
}

}

/* Bigger than 1000 */
@media (max-width: 1260px) {

#detail-product{
      width: 100%;
      margin-left: 0px;
}

#list_device{
  width: 100%;
  margin-left: 0px;
}

}

/* Bigger than 750 */
@media (min-width: 750px) {
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
}
